<!DOCTYPE html>
<html>
    <title>
        Spotify Compatibility App
    </title>
        
    <header>
        
    </header>
    <body>
        <div id="content" >
                    
            <h1>Spotify Compatibility App</h1>
            <h4>Welcome to the Spotify Compatibility App! To get started, enter the profile names of you and up to 3 friends in the textbox below</h4>

            <form id = "buttons" action="{{ url_for('processing') }}" method="POST">
                <section id = "playlistName">

                    <div id = "Auth">
                        <input type="button" id="Authorization" value="Request Authorization">
                        <b id = "questionMark">? 
                            <span class="extra">In order to create your playlist, we need your permission to create
                                a public playlist under your spotify account. Press the "Request Authorization" button
                                to get started.
                            </span>
                        </b>
                        <br>
                        <br>
                    </div>
                   
                    <label for="PlaylistName">New Playlist Name:</label>
                    <input type="text" id="Playlist_Input" name="PlaylistName" onblur="checkTextField(this);" > <b id="error"></b>
                    
                    
                
                    
                </section>

                <section id = "inputProfiles">
                    <p>
                        <label for="fname">Username:</label>
                        <input type="text" id="fname1" name="fname">
                        
                    </p>

                </section>
                <div id = "inputButtons">
                    <input type="button" id="addProfiles" value="Add Account" onclick="addTextBoxes();">
                
                    <input type="submit"  id="passDataToScript" value="Create New Playlist"  >

                </div>
                
        
            </form>

        </div>
        
        <div id="slow_warning" style="display:none">
            <p>
                <span id = "loadText" style="font-family:Arial">Please wait while your playlist is being generated. This may take a minute...</span>
            </p>
            <img src="../static/styles/spinner.gif"  /> 
        </div>
        
        
        <!-- Keep script at the end so that everything else gets rendered before the script runs   -->
    </body>
    <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    
</html>