<!DOCTYPE html>
<html>
    <title>
        Spotify Compatibility App
    </title>
        
    <header>
        
    </header>
    <body>
        <div id="content" >
            
            
            <h1>Spotify Compatibility App</h1>
            <p>Welcome to the Spotify Compatibility App! To get started, enter your username in the textbox below</p>
        
            <form id = "buttons" action="{{ url_for('processing') }}" method="POST">
                <section id = "inputProfiles">
                    <p>
                        <label for="fname">User-ID:</label>
                        <input type="text" id="fname1" name="fname">
                        <input type="button" id="Authorization" value="Request Authorization" onclick="requestAuthorization()">
                    </p>

                </section>
                

                <input type="button" id="addProfiles" value="Add Account" onclick="addTextBoxes();">
                <!-- Change the below input type from "button" to "submit" once done testing -->
                
                <input type="submit"  id="passDataToScript" value="Submit" >
        
            </form>

        </div>
        
        <div id="slow_warning" style="display:none">
            <p>
                <span id = "loadText" style="font-family:Arial">Please wait while your playlist is being generated. This may take a minute...</span>
            </p>
            <img src="../static/styles/spinner.gif"  /> 
        </div>
        
        
        <!-- Keep script at the end so that everything else gets rendered before the script runs   -->
    </body>
    <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/loadingPage.css') }}">
    
</html>