<!DOCTYPE html>
<html> 
    
    

    <head> 
        nice
        <script type="text/javascript">// <![CDATA[
            function preloader(){
                document.getElementById("loading").style.display = "none";
                document.getElementById("content").style.display = "block";
            }//preloader
            window.onload = preloader;
        </script>

    </head>

    <body>

        heyMan
    </body>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/loadingPage.css') }}">
</html>